<h1>Welcome, <%= @user.username %> </h1><br>

<!-- make the links work -->
<%= link_to "Create a sub!", new_sub_url, method: :get %><br>
<%= link_to "All subs", subs_url, method: :get %><br><br>

<section>

</section>
